footer.svelte-26xoul.svelte-26xoul {
    color: #fff;
    background-color: #000;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    font-family: light;
    margin: 0;
    position: relative;
    z-index: 10;
}
footer.svelte-26xoul p.svelte-26xoul {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
    overflow-x: hidden;
}
@font-face {
    font-family: Black;
    src: url(./Raleway-Black-ba91d190.ttf) format("truetype");
}
@font-face {
    font-family: Medium;
    src: url(./Raleway-Medium-fcf7e9e8.ttf) format("truetype");
}
@font-face {
    font-family: Light;
    src: url(./Raleway-Light-79b7dc3b.ttf) format("truetype");
}
