.loading.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading.svelte-1xk55ym .spinner-border.svelte-1xk55ym.svelte-1xk55ym {
    width: 3rem;
    height: 3rem;
    border-width: 0.25rem;
    color: #19334d;
}
nav.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    position: relative !important;
    background-color: #ececec;
    margin-bottom: 0 !important;
}
.admin-container.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    padding: 0;
    margin: 0;
    background-color: #fff;
    background-image: linear-gradient(to bottom right, #19334d, #3490dc);
    width: 100vw;
    overflow: hidden;
    min-height: calc(100vh - 38px);
    height: fit-content;
}
.admin-container.svelte-1xk55ym .d1.svelte-1xk55ym.svelte-1xk55ym {
    width: clamp(400px, 50vw, 800px);
    position: fixed;
    top: 70px;
    right: -100px;
    z-index: 0;
    opacity: 0.2;
}
.admin-container.svelte-1xk55ym .d2.svelte-1xk55ym.svelte-1xk55ym {
    width: 800px;
    height: 800px;
    background-color: #19334d;
    position: fixed;
    bottom: -200px;
    left: -200px;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.1;
}
.admin-container.svelte-1xk55ym nav.svelte-1xk55ym.svelte-1xk55ym {
    position: fixed;
    top: 0px;
    z-index: 100;
    flex-shrink: 0;
    padding: 10px 20px;
    font-family: Light;
    font-size: 15px !important;
}
.admin-container.svelte-1xk55ym nav .navbar-brand.svelte-1xk55ym.svelte-1xk55ym {
    align-items: center !important;
}
.admin-container.svelte-1xk55ym nav .navbar-brand.svelte-1xk55ym > img.svelte-1xk55ym {
    height: 20px;
}
.admin-container.svelte-1xk55ym nav .part-photo.svelte-1xk55ym.svelte-1xk55ym {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.admin-container.svelte-1xk55ym nav .nav-item.svelte-1xk55ym.svelte-1xk55ym {
    cursor: pointer;
}
.admin-container.svelte-1xk55ym nav .dropdown-menu.svelte-1xk55ym.svelte-1xk55ym {
    border: none;
    position: absolute;
    z-index: 20;
    border-top: 3px solid #19334d !important;
    padding: 10px;
    max-width: fit-content;
}
.admin-container.svelte-1xk55ym nav .dropdown-menu .dropdown-item.svelte-1xk55ym.svelte-1xk55ym {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
}
.admin-container.svelte-1xk55ym nav .dropdown-menu .dropdown-item.svelte-1xk55ym.svelte-1xk55ym:hover {
    background-color: transparent;
    color: #19334d;
}
.admin-container.svelte-1xk55ym nav .dropdown-menu .dropdown-item .fa.svelte-1xk55ym.svelte-1xk55ym {
    margin-right: 10px;
}
.admin-container.svelte-1xk55ym nav.svelte-1xk55ym.svelte-1xk55ym {
    width: 100vw !important;
    background-color: #f8f8f8;
}
.admin-container.svelte-1xk55ym .form.svelte-1xk55ym.svelte-1xk55ym {
    position: relative;
    z-index: 1;
    font-family: Light, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #f0f5fa;
}
.admin-container.svelte-1xk55ym .form h1.svelte-1xk55ym.svelte-1xk55ym {
    font-size: 2.5rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 1rem;
}
.admin-container.svelte-1xk55ym .form button.svelte-1xk55ym.svelte-1xk55ym {
    background-color: #3490dc;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.admin-container.svelte-1xk55ym .form button.svelte-1xk55ym.svelte-1xk55ym:hover {
    background-color: #343a40;
}
.admin-container.svelte-1xk55ym input[type="text"].svelte-1xk55ym.svelte-1xk55ym,
.admin-container.svelte-1xk55ym input[type="email"].svelte-1xk55ym.svelte-1xk55ym,
.admin-container.svelte-1xk55ym select.svelte-1xk55ym.svelte-1xk55ym {
    border-radius: 0;
    border: 0px;
    border-bottom: 2px solid #3490dc;
    margin-bottom: 20px;
    font-size: 15px;
}
.admin-container.svelte-1xk55ym input[type="text"].svelte-1xk55ym.svelte-1xk55ym:focus,
.admin-container.svelte-1xk55ym input[type="email"].svelte-1xk55ym.svelte-1xk55ym:focus,
.admin-container.svelte-1xk55ym select.svelte-1xk55ym.svelte-1xk55ym:focus {
    border-bottom: 2px solid #19334d !important;
    outline: none;
    box-shadow: none;
}
.admin-container.svelte-1xk55ym .lottie-animations.svelte-1xk55ym.svelte-1xk55ym {
    background-color: #f0f0f0;
    position: relative;
    z-index: 2;
}
.sliderCont.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    width: 200vw;
    display: flex;
    flex-flow: row nowrap;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.sliderCont.svelte-1xk55ym .slide.svelte-1xk55ym.svelte-1xk55ym {
    width: 100vw;
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
}
.paginationNav.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    padding-bottom: 20px;
    font-size: 18px;
    font-family: Courier New, Courier, monospace;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.paginationNav.svelte-1xk55ym select.svelte-1xk55ym.svelte-1xk55ym {
    position: relative;
    width: 70px;
    font-size: 18px;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: #3490dc;
    color: #fff;
}
.paginationNav.svelte-1xk55ym select.svelte-1xk55ym.svelte-1xk55ym:focus {
    outline: none;
    box-shadow: none;
    border: none !important;
}
.paginationNav.svelte-1xk55ym .pagination.svelte-1xk55ym.svelte-1xk55ym {
    padding: 0 !important;
    max-width: max-content;
}
.paginationNav.svelte-1xk55ym .pagination .page-link.svelte-1xk55ym.svelte-1xk55ym {
    background-color: #3490dc;
    border: none;
    width: 35px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.alertCont.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    position: fixed;
    z-index: 20;
    bottom: 30px;
    left: 30px;
}
.card.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    border: none;
    border-radius: 0;
    background-color: #fff;
}
.hide.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    display: none !important;
}
.menu.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    position: fixed !important;
    top: 0;
    z-index: 5;
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: center !important;
    padding: 20px 0;
    gap: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 0;
    width: 100vw !important;
    background: #3490dc !important;
    color: #fff;
    font-family: Light, sans-serif;
}
.menu.svelte-1xk55ym input.svelte-1xk55ym.svelte-1xk55ym,
.menu.svelte-1xk55ym select.svelte-1xk55ym.svelte-1xk55ym,
.menu.svelte-1xk55ym button.svelte-1xk55ym.svelte-1xk55ym {
    width: 300px;
    height: 40px;
    border: none !important;
    margin: 0 !important;
    border-radius: 20px !important;
    padding: 0 30px !important;
}
.menu.svelte-1xk55ym button.svelte-1xk55ym.svelte-1xk55ym {
    width: fit-content;
}
.noComp.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    font-family: Light, sans-serif;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.noComp.svelte-1xk55ym p.svelte-1xk55ym.svelte-1xk55ym {
    font-size: 14px;
    align-self: center;
    color: #212529;
    margin-top: 190px;
    position: absolute;
}
.noComp.svelte-1xk55ym p .fa.svelte-1xk55ym.svelte-1xk55ym {
    opacity: 0.3;
}
.noComp.svelte-1xk55ym .gif.svelte-1xk55ym.svelte-1xk55ym {
    width: 250px;
    height: 250px;
    margin-top: 0;
    padding: 0;
}
.comps.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    font-family: light, sans-serif;
    margin-top: 100px;
}
.comps.svelte-1xk55ym .comp.svelte-1xk55ym.svelte-1xk55ym {
    padding: 6px 10px;
}
.comps.svelte-1xk55ym .even.svelte-1xk55ym.svelte-1xk55ym {
    background-color: #f0f5fa;
}
table.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    font-family: light, sans-serif;
}
table.svelte-1xk55ym th.svelte-1xk55ym.svelte-1xk55ym {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: medium, sans-serif;
}
.manage.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    font-family: light, sans-serif;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    font-size: 13px;
    opacity: 0.8;
    color: #000;
    position: absolute;
    z-index: 5;
    bottom: 110px;
}
.manage.svelte-1xk55ym i.svelte-1xk55ym.svelte-1xk55ym {
    cursor: pointer;
}
.manage.svelte-1xk55ym i.svelte-1xk55ym.svelte-1xk55ym:hover {
    opacity: 1;
    color: #19334d;
}
.apppag.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    padding: 20px 0;
    margin-bottom: 35px;
}
.apppag.svelte-1xk55ym .form-select.svelte-1xk55ym.svelte-1xk55ym,
.apppag.svelte-1xk55ym .page-link.svelte-1xk55ym.svelte-1xk55ym {
    background-color: #fff !important;
    color: #000 !important;
    font-family: light, sans-serif;
    font-size: 14px;
}
.apppag.svelte-1xk55ym .form-select.svelte-1xk55ym.svelte-1xk55ym {
    border-radius: 0 50px 50px 0;
}
.stickyBottom.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
@media screen and (min-width: 1000px) {
    .navbar-nav.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        align-items: center !important;
    }
    .form-group.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        align-items: center;
    }
}
@media screen and (max-width: 1000px) {
    .navbar-nav.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        margin: 20px 0;
    }
    .navbar-nav.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #19334d;
        margin-bottom: 10px;
        opacity: 0.2;
    }
    .navbar-nav.svelte-1xk55ym .dropdown-menu.svelte-1xk55ym.svelte-1xk55ym {
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid #19334d;
        border-radius: 5px;
        padding: 10px;
    }
    .navbar-nav.svelte-1xk55ym .dropdown-menu .dropdown-item.svelte-1xk55ym.svelte-1xk55ym {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .navbar-nav.svelte-1xk55ym .dropdown-menu .dropdown-item .fa.svelte-1xk55ym.svelte-1xk55ym {
        margin-right: 10px;
    }
    .lottie-animations.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .compt-holder.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        max-width: 100vw !important;
        margin: 0 0 50px !important;
        width: 100vw;
    }
    .menu.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        --height: 180px;
        height: var(--height);
        position: absolute;
        right: 0px;
        top: calc(50% - var(--height) / 2);
        flex-flow: column nowrap !important;
        padding: 20px !important;
        justify-content: left !important;
        width: fit-content !important;
        transition: all 0.3s ease-in-out;
        margin-right: -220px;
    }
    .menu.svelte-1xk55ym input.svelte-1xk55ym.svelte-1xk55ym,
    .menu.svelte-1xk55ym select.svelte-1xk55ym.svelte-1xk55ym,
    .menu.svelte-1xk55ym button.svelte-1xk55ym.svelte-1xk55ym {
        width: 200px;
        height: 40px !important;
        border: none !important;
        padding: 0 30px;
        margin: 0 0 0 40px !important;
    }
    .menu.svelte-1xk55ym .fa.svelte-1xk55ym.svelte-1xk55ym {
        height: var(--height);
        margin-top: -20px;
        margin-left: -20px;
        width: 60px;
        position: absolute;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menu.svelte-1xk55ym button.svelte-1xk55ym.svelte-1xk55ym {
        width: fit-content;
        background-color: #19334d;
        color: #fff;
    }
}
@media screen and (min-width: 800px) {
    .menu.svelte-1xk55ym.svelte-1xk55ym.svelte-1xk55ym {
        position: relative !important;
    }
    .menu.svelte-1xk55ym .fa.svelte-1xk55ym.svelte-1xk55ym {
        display: none !important;
    }
}
