div.svelte-1ot0wst {
    width: 100%;
}
div.svelte-jfwjhx {
    width: 100%;
    display: flex;
    justify-content: center;
}
.loading.svelte-zs98s6.svelte-zs98s6 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading.svelte-zs98s6 .spinner-border.svelte-zs98s6 {
    width: 3rem;
    height: 3rem;
    border-width: 0.25rem;
    color: #19334d;
}
.user-info.svelte-zs98s6.svelte-zs98s6 {
    min-height: 100vh;
    background-color: #f0f5fa;
    padding-bottom: 30px;
}
.user-info.svelte-zs98s6 .d1.svelte-zs98s6 {
    width: clamp(400px, 50vw, 800px);
    position: fixed;
    top: 70px;
    right: -100px;
    z-index: 0;
    opacity: 0.2;
}
.user-info.svelte-zs98s6 .d2.svelte-zs98s6 {
    width: 800px;
    height: 800px;
    background-color: #19334d;
    position: fixed;
    bottom: -200px;
    left: -200px;
    z-index: 0;
    border-radius: 50%;
    opacity: 0.1;
}
.user-info.svelte-zs98s6 nav.svelte-zs98s6 {
    font-family: Medium;
    margin-bottom: 20px;
    z-index: 10;
    background-color: #fff;
}
.user-info.svelte-zs98s6 .card.svelte-zs98s6 {
    font-family: Medium;
}
.user-info.svelte-zs98s6 .card .card-title.svelte-zs98s6 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0;
}
.user-info.svelte-zs98s6 .card .flag.svelte-zs98s6 {
    width: 25px;
    margin: 2px;
}
.user-info.svelte-zs98s6 .card input.svelte-zs98s6,
.user-info.svelte-zs98s6 .card select.svelte-zs98s6 {
    border-radius: 0;
    border: 0px;
    border-bottom: 2px solid #3490dc;
    margin-bottom: 20px;
    font-family: Light, sans-serif;
    font-size: 15px;
}
.user-info.svelte-zs98s6 .card input.svelte-zs98s6:focus,
.user-info.svelte-zs98s6 .card select.svelte-zs98s6:focus {
    border-bottom: 2px solid #19334d !important;
    outline: none;
    box-shadow: none;
}
.user-info.svelte-zs98s6 .card input:focus #basic-addon3.svelte-zs98s6,
.user-info.svelte-zs98s6 .card select:focus #basic-addon3.svelte-zs98s6 {
    background-color: #19334d;
}
.user-info.svelte-zs98s6 .card small#emailHelp.svelte-zs98s6 {
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
}
.user-info.svelte-zs98s6 .card #basic-addon3.svelte-zs98s6 {
    border-radius: 0;
    border: 0px;
}
.social.svelte-zs98s6.svelte-zs98s6 {
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.fa-google.svelte-zs98s6.svelte-zs98s6 {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.alertCont.svelte-zs98s6.svelte-zs98s6 {
    position: fixed;
    bottom: 30px;
    left: 30px;
}
.fa-vk.svelte-zs98s6.svelte-zs98s6 {
    background: conic-gradient(from -45deg, #45668e 110deg, #4a76a8 90deg 180deg, #4a76a8 180deg 270deg, #4a76a8 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.fa-telegram.svelte-zs98s6.svelte-zs98s6 {
    background: conic-gradient(from -45deg, #0088cc 110deg, #0088cc 90deg 180deg, #0088cc 180deg 270deg, #0088cc 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.googleBtnHolder.svelte-zs98s6.svelte-zs98s6,
.telegramBtnHolder.svelte-zs98s6.svelte-zs98s6 {
    position: absolute;
    width: calc(100% + 20px) !important;
    height: 100% !important;
    margin-left: -20px;
    transform: scale(10);
    opacity: 0.02;
    z-index: 100;
    margin-top: 70px !important;
}
.vkHolder.svelte-zs98s6.svelte-zs98s6 {
    margin-top: -370px;
    margin-left: 30px;
    position: absolute;
    transform: scale(4);
    opacity: 0.01;
}
